* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* color: rebeccapurple; */
}

.submit {
  background: #7e4848;
  color: white;
}
.submit:hover {
  /* background: rgb(156, 139, 120); */
  color: white;
  /* border: rgb(156, 139, 120) 1px solid; */
}

.invisible {
  visibility: hidden;
}

.default-background {
  min-height: 100vh;
}

.testimonial-background {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* display: flex;
  align-items: flex-start; */
  /* justify-content: center; */
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
  /* margin-bottom: 4.5rem; */
  /* background-attachment: fixed; */
  color: white;
}
@media (min-width: 576px) {
  .testimonial-background {
    background-position: bottom;
  }
}

.testimonial-font {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.25rem;
  color: white;
}
